* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  text-align: center;
  width: 900px;
  margin: auto;
}

form {
  margin-bottom: 50px;
}

input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  line-height: 30px;
  padding: 7px 10px;
  width: 300px;
}